.header {
  height: 50px;
}

.menu {
  text-align: right;
}

.icon__menu {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.menu__item {
  display: none;
}
.menu:hover .menu__item {
  z-index: 1000;
  display: block;
}
.menu__item__data:hover {
  background-color: aliceblue;
}
